#below Git ignore file was adapted from   https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# System-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.swp


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

#distribution 
build/
dist/
*.egg-info/

# ignore venev
.venv/